#button {
  background-color: #2a98ec;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  padding: 12 px;
  text-align: center;
  text-decoration: none;
  font-size: 16 px;
  cursor: pointer;
  width: 400px;
  padding: 10px;
}

#button:hover {
  background-color: #74b2e2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
